.advert{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}
.advert .container{
width:80vw;    height: 30vh;
    background-color: #0070C0;
    padding: 0 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    box-sizing: border-box;
    
}
.advert h1{
    font-size: 4.5rem;
    color: white;    
}
.advert p{
    font-size: 1.8rem;
    color: white;
    font-weight: 300;    
}
@media only screen and (max-width: 430px){
    .advert .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0px 0px;
        text-align: center;
    }   
    .advert h1{
        font-size: 2.8rem;
        color: white;    
    }
    .advert .container{
        height: 25vh;
   }
   .advert{
       height: 35vh;
   }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) { 
    .advert .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0px 0px;
        text-align: center;
    } 
    .advert{
        height: 35vh;
    }
   

}