.card2{
    /* height: 250px;
    width: 250px; */
    margin-right: 2rem;
    box-sizing: border-box;
    padding: 0 2.6rem;
    padding-top: 3.2rem;
    border-radius:0.5rem;
    transition: all ease-in-out .2s;
    /* height: 70em; */
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #00000010;


}
.card2 .title--image{
    display: flex;
    align-items: center;
}
.card2 img{
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    /* background-color: rgb(0,112,192, 0.05); */
    transition: all ease-in .2s;
}
.card2 h4{
    font-size: 4rem;
    font-weight: 600;
    margin-left: 5rem;
}
.card2 p{
    font-size: 2rem;
}
.card:hover{
    box-shadow: 0rem 0rem 4.5rem -0.6rem #00000021;
    transition: all ease-in .2s;
    overflow: visible;
}
.card2 .card--wrapper{
    display: flex;
    justify-content: space-between;
}
.card2 p.info{
    font-size: 2rem !important;
    font-weight: 500 !important;
}
.card2 p .more--info{
    font-size: 1.7rem !important;
}
.card2 .papers{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}
.card2 .plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.card2 .paper{
    width: 32%;
    height: 50vh;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);}
.card2 .paper h1{
    font-size: 4rem;
}
.card2 .paper ul{
    list-style: none;
    font-size: 1.5rem;
    text-align: left;
}
.card2 .paper ul li{
    margin-bottom: 1rem;
}
.card2 .subscription h3{
    font-size: 1.5rem;
    font-weight: 400;
}