#hero--container{
    background-color: #0070C00D;
    width: 100%;
    display: flex;
    justify-content: center;

    
}
#hero--container .container{
    height: auto;
    width: 90%;
    /* padding: 70px 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 40px;
    padding-top: 90px;
}

.hero--writings{
    flex: 1;
}
.hero--image{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.hero--image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}
#hero--container h6{
    color: #0070C0;
    font-weight: 400;
    font-size: 12px;
}
#hero--container h2{
    font-size: 36px;
    font-weight: 400;
}
#hero--container p{
    font-size: 18px;
    margin-bottom: 50px;
}
@media only screen and (max-width: 430px){
    #hero-container{
        
    }
    #hero--container h6{
        display: none;
    }
    #hero--container h2{
        font-size: 23px;
        font-weight: 400;
    }
    #hero--container p{
        font-size: 14px;
        margin-bottom: 50px;
    }
    .hero--writings{
        padding: 0 20px;
        text-align: center;
        margin: 50px 0px;
    }
    .hero--image{
        display: none;
    }

}