#startup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #0070C00D;
    box-sizing: border-box;
    

}
#startup .container{
    display: flex;
    justify-content: center;
}
#startup h2{
    font-size: 29px;
}
#startup .cards{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  margin: 50px 0px;
}
@media only screen and (max-width: 430px){
  

}